$window-width: 400px;
$window-height: 690px;

$radius: 0.5rem;

$bg-first-color: #1c1d36;
$bg-second-color: #292948;
$border-color: #423b64;
$accent-color: #8384ff;
$secondary-color: #7fbefc;
$loading-color: rgb(103, 89, 158);
$slate-color: rgba(95, 83, 143, 0.1);
$alert-color: #f87171;
$accent-glow-color: rgba(131, 131, 255, 0.5);

$gradient-linear: linear-gradient(90deg, #292948, #2e2e51);
